
@{
    ViewData["Title"] = "Проверить билет";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Проверить билет</h2>
<hr />

<div class="row">
    <div class="col-md-4">
        <form id="checkTicketForm">
            <div class="form-group input-group-sm">
                <label for="ticketNumber" class="control-label">Номер билета:</label>
                <input id="ticketNumber" name="ticketNumber" type="text" class="form-control" />
            </div>

            <div class="form-group input-group-sm">
                <button id="checkBtn" name="checkBtn" class="btn btn-success">
                    Проверить
                </button>
            </div>
        </form>
    </div>
</div>

@{ 
    await Html.RenderPartialAsync("_Modal");
}


